{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Computer detail {% endblock title %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7-beta.22/jquery.inputmask.min.js"></script>



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Computer detail</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Computer detail</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
              <a href="{% url 'order_list' %}" class="btn btn-primary" style="margin-right: 10px;">Back</a>
              
              <h3 class="card-title">Computer {{ computer.name }}</h3>
              
          </div>
          <div class="ml-auto" style="display: flex; align-items: right;">                    
  
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="justify-content: flex-end;">
              {% if computer.status == 'Progress' %}
                  <label class="btn btn-danger active">
                      <input type="radio" name="options" id="option_b1" autocomplete="off" checked> Progress
                  </label>
              {% elif computer.status == 'Ready' %}
                  <label class="btn btn-primary active">
                      <input type="radio" name="options" id="option_b2" autocomplete="off" checked> Ready
                  </label>
              {% elif computer.status == 'Confirm' %}
                  <label class="btn btn-success active">
                      <input type="radio" name="options" id="option_b3" autocomplete="off" checked> Confirm
                  </label>
              {% endif %}
          </div>
          
              <div style="margin-right: 10px;"></div>
              <div class="ml-auto"> <!-- Кнопка "Edit" выравнивается справа -->
                <a href="{% url 'edit' computer_id=computer.id %}" class="btn btn-primary">Edit</a>
              </div>

          </div>
        </div>
   
    

    
    
 
        
          <!-- /.card-header -->
          <div class="card-body">
            <form method="POST" action="{% url 'computer_detail' computer.id %}" id="computer-form">
              {% csrf_token %}
              

              <div class="row">
                <div class="col-sm-4">
                  <!-- textarea -->
                  <div class="form-group">
                    <label>Customer name</label>
                    <select class="form-control select2bs4" name="Customer" disabled="disabled" style="width: 100%;">
                      {% for customer in customers %}
                          <option value="{{ customer.id }}" {% if customer.id == computer.customer.id %}selected{% endif %}>
                              {{ customer.name }}
                          </option>
                      {% endfor %}
                  </select>
                    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Placement</label>
                    <select class="form-control select2bs4" name="Placement" disabled="disabled" style="width: 100%;">
                      {% for location in data.locations %}
                          <option value="{{ location.name }}">{{ location.name }}</option>                      
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Computer type</label>
                      <select class="form-control select2bs4" name="Placement" disabled="disabled" style="width: 100%;">
                          {% if data.custom_type %}
                              <option value="{{ data.custom_type }}">{{ data.custom_type }}</option>
                          {% else %}
                              <option value="{{ data.type }}">{{ data.type }}</option>
                          {% endif %}
                      </select>
                  </div>
              </div>
              
              

<!-- MAIN INFORMATION BLOCK-->
    
              <div class="col-12">
                <h4>Main Information</h4>
              </div>
              
              <div class="col-sm-8">   
                <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Computer name</label>
                          <input type="text" class="form-control" placeholder="Name" name="computer_name" value="{{ computer.name }}" disabled>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Computer series number</label>
                      <input type="text" class="form-control" placeholder="Series number" name="serial_number" value="{{ computer.serial_number }}" disabled>
                    </div>
                  </div>
                </div>
          
                
                <div class="row">
                  {% if data.user %}
                      {% for user in data.user %}
                          <div class="col-sm-2">
                              <div class="form-group">
                                  <label>User type</label>
                                  <select class="form-control select" name="UserType" style="width: 100%;" disabled>   
                                      <option value="{{ user.user_type }}">{{ user.user_type }}</option>   
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <label>User name</label>
                                  <input type="text" class="form-control" placeholder="User name" value="{{ user.login }}" disabled>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label>User password</label>
                                  <input type="text" class="form-control"  placeholder="User password" value="{{ user.password }}" disabled>
                              </div>
                          </div>
                      {% endfor %}
                  {% endif %}
              </div>
              
              
              
          
                 
                </div>
          
          
          
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label>Comment</label>
                          
                          <textarea class="form-control" rows="3" placeholder="Add a comment" disabled>{{ computer.addComment }}</textarea>
                      </div>
                  </div>
                </div>
              
              




              
              
            
              
              

<!-- COMPUTER HARDWARE BLOCK-->
              <div class="col-12">
                <h4>Computer hardware</h4>
              </div>

              <div class="row">               
                <div class="col-sm-4">
                  <div class="row-sm-4">
                    <div class="form-group">
                      <label>Processor</label>
                      <select class="form-control select2bs4" name="Processor" disabled="disabled" style="width: 100%;">
                      {% for processor in data.processor %}
                          <option value="{{ processor.name }}">{{ processor.name }}</option>                      
                      {% endfor %}
                    </select>
                     </div>
                  </div>
                  <div class="row-sm-4">                    
                    <div class="form-group">
                      <label>Video card</label>
                      <select class="form-control select2bs4" name="videoCard" disabled="disabled" style="width: 100%;">
                      {% for videoCard in data.videoCard %}                         
                          <option value="{{ videoCard.name }}">{{ videoCard.name }}</option>
                          
                      {% endfor %}
                    </select>
                    </div>
                  </div>                   
                </div>
                
 
                <div class="col-sm-4">
                  <div class="row-sm-4">
                    <div class="form-group">
                      <label>LAN card</label>
                      <select class="form-control select2bs4" name="lanCard" disabled="disabled" style="width: 100%;">
                        {% for lanCard in data.lanCard %}
                            <option value="{{ lanCard.type }}">{{ lanCard.type }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  
                  </div>
                  <div class="row-sm-4">
                    <div class="form-group">
                      <label>LAN card series</label>
                      {% for lanCard in data.lanCard %}
                        <input type="text" class="form-control" placeholder="LAN series" name="lanSeries" value="{{ lanCard.series }}" disabled>                   
                      {% endfor %}
                      </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>RAM GB</label>
                        <select class="form-control select2bs4" name="ramGB" disabled="disabled" style="width: 100%;">
                          {% for ram in data.ram %}
                            <option value="{{ ram.gigabytes }}">{{ ram.gigabytes }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <label>RAM type</label>
                        {% for ram in data.ram %}
                        <input type="text" class="form-control" placeholder="RAM type" name="ramType" value="{{ ram.type }}" disabled>                   
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Disk GB</label>
                        <select class="form-control select2bs4" name="diskGB" disabled="disabled" style="width: 100%;">
                          {% for hardDisk in data.hardDisk %}
                            <option value="{{ hardDisk.gigabytes }}">{{ hardDisk.gigabytes }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <label>Hard disk type</label>
                        {% for hardDisk in data.hardDisk %}
                        <input type="text" class="form-control" placeholder="Hard Disk type" name="hardDiskType" value="{{ hardDisk.type }}" disabled>                   
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            

<!-- COMPUTER SOFTWARE BLOCK-->              
            <div class="col-12">
              <h4>Computer software</h4>
            </div>


            <div class="row">               
              <div class="col-sm-4">
                <div class="row-sm-4">
                  <div class="form-group">
                    <label>Windows</label>
                    <select class="form-control select2bs4" name="windowsName" disabled="disabled" style="width: 100%;">
                      {% for windows in data.windows %}
                        <option value="{{ windows.name }}">{{ windows.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row-sm-4">                    
                  <div class="form-group">
                    <label>License number</label>
                    {% for windows in data.windows %}
                        <input type="text" class="form-control" placeholder="License number" name="licenseNumber" value="{{ windows.licenseNumber }}" data-inputmask="'mask': '*****-***-***-***'" disabled>                   
                    {% endfor %}
                  </div>
                </div>            
                <div class="row-sm-4">                    
                  <div class="form-group">
                    <label>License keys</label>
                    {% for windows in data.windows %}
                        <input type="text" class="form-control" placeholder="License keys" name="licenseKeys" value="{{ windows.licenseKeys }}" data-inputmask="'mask': '*****-*****-*****-*****-*****'" disabled>                   
                    {% endfor %}
                  </div>
                </div>         
              </div>
              

              <div class="col-sm-4">
                <div class="row-sm-4">
                  <div class="form-group">
                    <label>Database type</label>
                    <select class="form-control select2bs4" name="typeDB" disabled="disabled" style="width: 100%;">
                      {% for typeDB in data.typeDB %}
                        <option value="{{ typeDB.type }}">{{ typeDB.type }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row-sm-4">
                  <div class="form-group">
                    <label>Database version</label>
                    {% for typeDB in data.typeDB %}
                        <input type="text" class="form-control" placeholder="Database version" name="versionDB" value="{{ typeDB.version }}" disabled>                   
                    {% endfor %}
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Additional software</label>
                  
                  <textarea class="form-control" rows="3" placeholder="Add a software" disabled>{{ computer.addSoftware }}</textarea>
                </div>
              </div>                
            </div>




<!-- ADDITIONAL DEVICES BLOCK-->    
 
    {% if data.monitor or data.diskPlace or computer.addDevices %}
            <div class="col-12">
              <h4>Additional devices</h4>
            </div>


            <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Monitor</label>
                      <select class="form-control select2bs4" name="MonitorName" disabled="disabled" style="width: 100%;">
                          {% for monitor in data.monitor %}
                              {% if monitor.name %}
                                  <option value="{{ monitor.name }}">{{ monitor.name }}</option>
                              {% endif %}
                              {% if monitor.custom_name %}
                                  <option value="{{ monitor.custom_name }}">{{ monitor.custom_name }}</option>
                              {% endif %}
                          {% endfor %}
                      </select>
                  </div>
              </div>
          
          
              

              <div class="col-sm-4">
                
                  <div class="form-group">
                    <label>DVD / CD</label>
                    <select class="form-control select2bs4" name="DiskPlace" disabled="disabled" style="width: 100%;">
                      {% for diskPlace in data.diskPlace %}
                        <option value="{{ diskPlace.name }}">{{ diskPlace.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Additional devices</label>
                  <textarea class="form-control" rows="3" placeholder="Add a devices" disabled>{{ computer.addDevices }}</textarea>
                </div>
              </div>                
            </div>

    {% endif %}         
                
 <!-- ADDITIONAL SETTINGS BLOCK--> 
    {% if data.addSetting %}             
              <div class="row">               
                <div class="col-sm-4">
                  
                    <div class="form-group">
                      <label>Additional settings</label>
                      {% for addSetting in data.addSetting %}
                          <div class="mb-3">
                              <select class="form-control select2bs4" name="addSettings" disabled="disabled" style="width: 100%;">
                                  <option value="{{ addSetting.name }}">{{ addSetting.name }}</option>
                              </select>
                          </div>
                      {% endfor %}
                    </div>
                  
                </div>
                

                <div class="col-sm-4">
                  
                    <div class="form-group">
                      <label>Additional settings</label>
                      {% for addSetting in data.addSetting %}
                        <input type="text" class="form-control mb-3" placeholder="Additional settings" name="addSettingsText" value="{{ addSetting.text }}" disabled>                   
                      {% endfor %}
                    </div>
                  
                </div>
              </div>
    {% endif %}


                

 <!-- DATE, EMPLOYEE BLOCK--> 


                <div class="row">               
                  <div class="col-sm-4">
                    
                      <div class="form-group">
                        <label>Date</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                          </div>
                          <input type="text" class="form-control" value="{{ computer.date|date:'M d, Y' }}" disabled="disabled">
                        </div>
                      </div>
                    
                  </div>
                  

                  <div class="col-sm-4">
                    
                    <div class="form-group">
                      <label>Employee</label>
                      <select class="form-control select2bs4" name="Employee" disabled="disabled" style="width: 100%;">
                          {% for employee in employees %}
                              <option value="{{ employee.id }}" {% if employee.id == computer.employee.id %}selected{% endif %}>
                                  {{ employee.name }}
                              </option>
                          {% endfor %}
                      </select>
                  </div>
                    
                  </div>
                </div>                            
              </div>            
            </form>


            

            <script>
              $(document).ready(function() {              
                $('#computer-form').on('submit', function(event) {
                  event.preventDefault();
                  var formData = $(this).serializeArray();
                  var data = {};
                  formData.forEach(function(item) {
                    data[item.name] = item.value;
                  });
                  $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    headers: {
                      'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                      alert(response.message);
                    },
                    error: function(response) {
                      alert('An error occurred');
                    }
                  });
                });

                $(document).ready(function(){
                  $(":input").inputmask();
              });

                // Инициализация Inputmask
                $(":input").inputmask();
              });

              document.getElementById('addUserBtn').addEventListener('click', function() {
                let container = document.getElementById('userContainer');
                let userFields = `
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>User type</label>
                        <select class="form-control select2bs4" style="width: 100%;" name="user_type[]">
                          {% for user_type, user_type_display in UserName.USER_TYPES %}
                            <option value="{{ user_type }}">{{ user_type_display }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>User name</label>
                        <select class="form-control" name="user_name[]">
                          {% for user in users %}
                            <option value="{{ user.id }}">{{ user.login }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row-sm-4">
                    <div class="form-group">
                      <label>User password</label>
                      <input type="text" class="form-control" placeholder="Password" name="user_password[]">
                    </div>
                  </div>
                `;
                container.insertAdjacentHTML('beforeend', userFields);
              });

            </script>




           



          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
{% endblock content %}


{% block extra_scripts %}
<!-- jQuery -->
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<!-- dropzonejs -->
<script src="{% static 'plugins/dropzone/min/dropzone.min.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })

    
    //Money Euro
    $('[data-mask]').inputmask()

    //Date picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });

    //Date and time picker
    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    })
  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  })

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector("#template")
  previewNode.id = ""
  var previewTemplate = previewNode.parentNode.innerHTML
  previewNode.parentNode.removeChild(previewNode)

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/target-url", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  })

  myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
  })

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
  })

  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1"
    // And disable the start button
    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
  })

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0"
  })

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
  }
  document.querySelector("#actions .cancel").onclick = function() {
    myDropzone.removeAllFiles(true)
  }
  // DropzoneJS Demo Code End
</script>
{% endblock extra_scripts %}