{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Computer detail {% endblock title %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7-beta.22/jquery.inputmask.min.js"></script>


<script>
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  const csrftoken = getCookie('csrftoken');

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
</script>


<script>
  function addNew(inputId, listId) {
    var input = document.getElementById(inputId);
    var datalist = document.getElementById(listId);
    var newValue = input.value;

    var exists = false;
    for (var i = 0; i < datalist.options.length; i++) {
      if (datalist.options[i].value == newValue) {
        exists = true;
        break;
      }
    }

    if (!exists && newValue !== '') {
      var newOption = document.createElement('option');
      newOption.value = newValue;
      datalist.appendChild(newOption);
    }
  }

  function handleKeyPress(event, inputId, listId) {
    if (event.key == 'Enter') {
      event.preventDefault();
      addNew(inputId, listId);
    }
  }
</script>

<script>
  $(document).ready(function(){
      $('#addUserBtn').click(function(){
          var newUserRow = $('.user-row:first').clone();
          newUserRow.find('input').val('');
          newUserRow.find('select').val('');
          newUserRow.insertAfter('.user-row:last');
      });
    });

      
</script>
<script>
  $(document).ready(function(){
      $('#addSettingsBtn').click(function(){
        var newSettingsRow = $('.add-settings:first').clone();
        newSettingsRow.find('input').val('');
        newSettingsRow.find('select').val('');
        newSettingsRow.insertAfter('.add-settings:last');
      });
    });

</script>





<script>
  document.addEventListener('DOMContentLoaded', function () {
      const buttons = document.querySelectorAll('.btn-group-toggle .btn');

      function updateButtonStates(activeButton) {
          buttons.forEach(btn => {
              btn.classList.remove('active');
          });
          activeButton.classList.add('active');
          activeButton.querySelector('input').checked = true;
      }

      async function updateStatus(newStatus) {
          const response = await fetch(`/update_computer_status/${computerId}/`, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/x-www-form-urlencoded',
                  'X-CSRFToken': csrftoken
              },
              body: new URLSearchParams({status: newStatus})
          });
          return response.json();
      }

      function disableButtons() {
          buttons.forEach(btn => {
              btn.disabled = true;
          });
      }

      buttons.forEach(button => {
          button.addEventListener('click', async function () {
              const newStatus = this.textContent.trim();
              const result = await updateStatus(newStatus);
              if (result.success) {
                  updateButtonStates(button);
                  disableButtons();
              } else {
                  alert(result.error);
              }
          });
      });

      const status = "{{ computer.status }}";
      const computerId = "{{ computer.id }}";
      let activeButton;
      if (status === 'Progress') {
          activeButton = document.getElementById('btn-progress');
      } else if (status === 'Ready') {
          activeButton = document.getElementById('btn-ready');
      } else if (status === 'Confirm') {
          activeButton = document.getElementById('btn-confirm');
      }

      if (activeButton) {
          updateButtonStates(activeButton);
      }
  });
</script>

<script>
  $(document).ready(function() {
    $('#save-btn').on('click', function(event) {
        event.preventDefault();  // предотвращает стандартное действие формы

        let form = $('form')[0];  // Предполагается, что на странице одна форма
        let formData = new FormData(form);

        formData.append('status', $('input[name="options"]:checked').parent().text().trim());

        $.ajax({
            url: '{% url "edit" computer_id=computer.id %}',  // URL для отправки данных
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            headers: {'X-CSRFToken': csrftoken}, 
            success: function(response) {
                alert('Changes saved successfully!');
            },
            error: function(xhr, status, error) {
                alert('An error occurred: ' + xhr.responseText);
            }
        });
    });
});

</script>

<script>
  $(document).ready(function() {
      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      const csrftoken = getCookie('csrftoken');

      $('input').on('blur', function() {
          var inputName = $(this).attr('name');
          var inputValue = $(this).val();
          var computerId = {{ computer.id }};

          $.ajax({
              url: "{% url 'save_computer_data' %}",
              method: 'POST',
              headers: { 'X-CSRFToken': csrftoken },
              data: {
                  'field_name': inputName,
                  'field_value': inputValue,
                  'computer_id': computerId,
              },
              success: function(response) {
                  console.log('Field ' + inputName + ' saved successfully');
              },
              error: function(xhr, status, error) {
                  console.error('Error saving field ' + inputName + ': ' + error);
              }
          });
      });
  });
</script>
  
  



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Computer edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Computer detail</a></li>
              <li class="breadcrumb-item active">Computer edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      
      <!-- Default box -->
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
              <a href="{% url 'order_list' %}" class="btn btn-primary" style="margin-right: 10px;">Back</a>
              
              <h3 class="card-title">Computer {{ computer.name }}</h3>
              
          </div>
          
          <div class="ml-auto" style="display: flex; align-items: center;">                    
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="justify-content: flex-end;">
                <label class="btn btn-outline-danger" id="btn-progress">
                    <input type="radio" name="options" autocomplete="off"> Progress
                </label>
                <label class="btn btn-outline-primary" id="btn-ready">
                    <input type="radio" name="options" autocomplete="off"> Ready
                </label>
                <label class="btn btn-outline-success" id="btn-confirm">
                    <input type="radio" name="options" autocomplete="off"> Confirm
                </label>
            </div>
            <div style="margin-right: 10px;"></div>
            <div class="ml-auto">
              <button id="save-btn" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
      </div>
  
   
    

    
    
 
        
          <!-- /.card-header -->
          <div class="card-body">
            <form method="POST" action="{% url 'edit' computer_id=computer.id %}">
              {% csrf_token %}
              

              <div class="row">
                <div class="col-sm-4">
                  <!-- textarea -->
                  <div class="form-group">
                    <label>Customer name</label>
                    <input list="customerList" id="customerInput" name="customer_name" class="form-control" value="{{ form.customer_name.value }}" placeholder="Customer name" style="width: 100%">
                    <datalist id="customerList">
                        {% for customer in customer_queryset %}
                        <option value="{{ customer.name }}">
                        {% endfor %}
                    </datalist>
                    {{ form.customer_name.errors }}
                                
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Placement</label>
                    <input list="locationList" id="locationInput" name="locations_name" class="form-control" 
                          value="{{ form.location_name.value }}" placeholder="Placement" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                    <datalist id="locationList">
                      {% for location in location_queryset %}
                      <option value="{{ location.name }}">{{ location.name }}</option>
                      {% endfor %}       
                    </datalist>
                    
            
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Computer type</label>
                    <input list="computerTypeList" id="computerTypeInput" name="ComputerType" class="form-control" 
                          value="{{ form.computer_type.value }}" 
                          placeholder="Computer type" style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                    <datalist id="computerTypeList">
                        {% for choice in type_choices %}
                            <option value="{{ choice }}">{{ choice }}</option>
                        {% endfor %}
                    </datalist>
                    {{ form.computer_type.errors }}
                  </div>
              </div>
              
              

<!-- MAIN INFORMATION BLOCK-->
    
              <div class="col-12">
                <h4>Main Information</h4>
              </div>
              
  <div class="col-sm-8">   
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Computer name</label>
                <input type="text" class="form-control" placeholder="Name" name="computer_name" value="{{ computer.name }}">
            </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Computer series number</label>
            <input type="text" class="form-control" placeholder="Series number" name="serial_number" value="{{ computer.serial_number }}" >
          </div>
        </div>
      </div>


      {% if users %}
      {% for user in users %}
      <div class="row user-row">

                <div class="col-sm-2">
                  <div class="form-group">
                    <label>User type</label>

                    <input list="userList" id="usersInput_{{ user.pk }}" name="user_type_{{ user.pk }}" class="form-control" 
                       value="{{ user.user_type }}" placeholder="User type" 
                       style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                    <datalist id="userList">
                        {% for choice in user_types %}
                            <option value="{{ choice }}">
                        {% endfor %}       
                    </datalist>
                 
                </div>
                
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" class="form-control" name="user_name_{{ user.pk }}" placeholder="User name" value="{{ user.login }}">
                    </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                      <label>User password</label>
                      <input type="text" class="form-control" name="password_{{ user.pk }}" placeholder="User password" value="{{ user.password }}">
                  </div>
              </div>
  
      </div>
      {% endfor %}
      {% endif %}
    
    

        <div class="row">
          <button type="button" id="addUserBtn" class="btn btn-primary">Add user</button>
        </div>
      </div>



        <div class="col-sm-4">
            <div class="form-group">
                <label>Comment</label>
                
                <textarea class="form-control" rows="3" placeholder="Add a comment" >{{ form.addComment_value.value }}</textarea>
            </div>
        </div>
    </div>
    <div class="mt-3 col-md-12">
      
    </div>

    




              
              
            
              
              

<!-- COMPUTER HARDWARE BLOCK-->
              <div class="col-12">
                <h4>Computer hardware</h4>
              </div>

              <div class="row">               
                <div class="col-sm-4">
                  <div class="row-sm-4">
                    <div class="form-group">
                      <label>Processor</label>
                      <input list="processorList" id="processorsInput" name="Processor" class="form-control" 
                          value="{{ form.processor_name.value }}" placeholder="Processor" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                      <datalist id="processorList">
                        {% for processor in processor_queryset %}
                          <option value="{{ processor.name }}">
                        {% endfor %}       
                      </datalist>

                     </div>
                  </div>
                  <div class="row-sm-4">                    
                    <div class="form-group">
                      <label>Video card</label>

                      <input list="videoCardList" id="videoCardsInput" name="videoCard" class="form-control" 
                          value="{{ form.videoCard_name.value }}" placeholder="Video card" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                      <datalist id="videoCardList">
                        {% for videoCard in videoCard_queryset %}
                          <option value="{{ videoCard.name }}">
                        {% endfor %}       
                      </datalist>


                     
                    </div>
                  </div>                   
                </div>
                
 
                <div class="col-sm-4">
                  <div class="row-sm-4">
                    <div class="form-group">
                      <label>LAN card</label>

                      <input list="lanCardList" id="lanCardsInput" name="lanCard" class="form-control" 
                          value="{{ form.lanCard_type.value }}" placeholder="LAN card" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                      <datalist id="lanCardList">
                        {% for lanCard in lanCard_queryset %}
                          <option value="{{ lanCard.type }}">
                        {% endfor %}       
                      </datalist>


                      
                  </div>
                  
                  </div>
                  <div class="row-sm-4">
                    <div class="form-group">
                      <label>LAN card series</label>
                      <input type="text" class="form-control" placeholder="LAN series" name="lanSeries" 
                      value="{{ form.lanCard_series.value }}">
                      
                      </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>RAM GB</label>
                        <select class="form-control select" name="ram_gigabytes"  style="width: 100%;">   
                          {% for choice in ram_gigabytes %}                
                          <option value="{{ choice }}">{{ choice }}</option>   
                          {% endfor %}               
                        </select> 

                        
                        
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <label>RAM type</label>

                        <input list="ramList" id="ramsInput" name="ram_type" class="form-control" 
                          value="{{ form.ram_type.value }}" placeholder="RAM type" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                      <datalist id="ramList">
                        {% for choice in ram_types %}
                          <option value="{{ choice }}">
                        {% endfor %}       
                      </datalist>


                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Disk GB</label>
                        <select class="form-control select" name="disk_gigabytes" style="width: 100%;">
                          {% for choice in hardDisk_gigabytes %}
                            <option value="{{ choice }}">{{ choice }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <label>Hard disk type</label>

                        <input list="hardDiskList" id="hardDisksInput" name="disk_type" class="form-control" 
                          value="{{ form.hardDisk_type.value }}" placeholder="Hard disk type" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                      <datalist id="hardDiskList">
                        {% for choice in hardDisk_types %}
                          <option value="{{ choice }}">
                        {% endfor %}       
                      </datalist>


                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            

<!-- COMPUTER SOFTWARE BLOCK-->              
            <div class="col-12">
              <h4>Computer software</h4>
            </div>


            <div class="row">               
              <div class="col-sm-4">
                  <div class="row-sm-4">
                      <div class="form-group">
                          <label>Windows</label>

                          <input list="windowsList" id="windowsInput" name="Windows" class="form-control" 
                          value="{{ form.windows_name.value }}" placeholder="Windows" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                          <datalist id="windowsList">
                            {% for windows in windows_queryset %}
                            <option value="{{ windows.name }}">
                            {% endfor %}       
                          </datalist>
 
                      </div>
                  </div>
                  <div class="row-sm-4">                    
                      <div class="form-group">
                          <label>License number</label>
                          <input type="text" class="form-control" placeholder="License number" name="licenseNumber" 
                                 value="{{ form.windows_licenseNumber.value }}" 
                                 data-inputmask="'mask': '*****-***-***-***'">
                      </div>
                  </div>            
                  <div class="row-sm-4">                    
                      <div class="form-group">
                          <label>License keys</label>
                          <input type="text" class="form-control" placeholder="License keys" name="licenseKeys" 
                                 value="{{ form.windows_licenseKeys.value }}" 
                                 data-inputmask="'mask': '*****-*****-*****-*****-*****'">
                      </div>
                  </div>         
              </div>


              <div class="col-sm-4">
                <div class="row-sm-4">
                  <div class="form-group">
                    <label>Database type</label>
                    <input list="typeDBList" id="typeDBsInput" name="typeDB" class="form-control" 
                          value="{{ form.typeDB_type.value }}" placeholder="Type database" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                      <datalist id="typeDBList">
                        {% for typeDB in typeDB_queryset %}
                          <option value="{{ typeDB.type }}">
                        {% endfor %}       
                      </datalist>

                   
                  </div>
                </div>
                <div class="row-sm-4">
                  <div class="form-group">
                    <label>Database version</label>
                   
                        <input type="text" class="form-control" placeholder="Database version" name="versionDB" value="{{ form.typeDB_version.value }}" >                   
                 
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Additional software</label>
                  
                  <textarea class="form-control" rows="3" placeholder="Add a software" >{{ form.addSoftware_value.value }}</textarea>
                </div>
              </div>                
            </div>




<!-- ADDITIONAL DEVICES BLOCK-->    
 
    {% if monitor_queryset or diskPlace_queryset or form.addDevices_value %}
            <div class="col-12">
              <h4>Additional devices</h4>
            </div>


            <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Monitor</label>
                      <input list="monitorList" id="monitorInput" name="MonitorName" class="form-control" 
                      value="{{ form.monitor_name.value }}" placeholder="Select monitor" style="width: 100%" >
                      <datalist id="monitorList">
                          {% for monitor in monitor_queryset %}
                              {% if monitor.name %}
                                  <option value="{{ monitor.name }}">
                              {% endif %}
                              {% if monitor.custom_name %}
                                  <option value="{{ monitor.custom_name }}">
                              {% endif %}
                          {% endfor %}
                      </datalist>

                  </div>
              </div>
          
          
              

              <div class="col-sm-4">
                
                  <div class="form-group">
                    <label>DVD / CD</label>
                    <input type="text" class="form-control" placeholder="DVD / CD" name="diskPlace" 
                                 value="{{ form.diskPlace_name.value }}" 
                                 >

                   
                  </div>
                
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Additional devices</label>
                  <textarea class="form-control" rows="3" placeholder="Add a devices" >{{ form.addDevices_value.value }}</textarea>
                </div>
              </div>                
            </div>

    {% endif %}         
                
 <!-- ADDITIONAL SETTINGS BLOCK--> 
    {% if addSettings_queryset %}             
              <div class="row add-settings">               
                <div class="col-sm-4">
                  
                    <div class="form-group">
                      <label>Additional settings</label>
                      <input list="addSettingList" id="addSettingsInput" name="addSettings_name" class="form-control" 
                          value="{{ form.addSettings_name.value }}" placeholder="Additional settings" 
                          style="width: 100%" onblur="addNew()" onkeypress="handleKeyPress(event)">
                      <datalist id="addSettingList">
                        {% for addSettings in addSettings_queryset %}
                          <option value="{{ addSettings.name }}">{{ addSettings.name }}</option>
                        {% endfor %}       
                      </datalist>

                      
                    </div>
                  
                </div>
                

                <div class="col-sm-4">
                  
                    <div class="form-group">
                      <label>Additional settings</label>
                      
                        <input type="text" class="form-control mb-3" placeholder="Additional settings" name="addSettings_text" value="{{ form.addSettings_text.value }}">                   
                    
                    </div>
                  
                </div>
              </div>
    {% endif %}
    <div class="row">
      <button type="button" id="addSettingsBtn" class="btn btn-primary">Add settings</button>
    </div>
    <div class="mt-3 col-md-12">


                

 <!-- DATE, EMPLOYEE BLOCK--> 


                <div class="row">               
                  <div class="col-sm-4">
                    
                      <div class="form-group">
                        <label>Date</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" name="date"  value="{{ form.date.value }}">
                      </div>
                      </div>
                    
                  </div>
                  

                  <div class="col-sm-4">
                    
                    <div class="form-group">
                      <label>Employee</label>
                      <input list="employeeList" id="employeeInput" name="employee_name" class="form-control" value="{{ form.employee_name.value }}" placeholder="Employee name" style="width: 100%">
                    <datalist id="employeeList">
                        {% for employee in employee_queryset %}
                        <option value="{{ employee.name }}">
                        {% endfor %}
                    </datalist>
                    {{ form.employee_name.errors }}
                    
                      
                  </div>
                    
                  </div>
                </div>
                <footer class="main-footer">
                
                </footer>                             
              </div>  
                       
            </form>


            

            <script>
              $(document).ready(function() {              
                $('#computer-form').on('submit', function(event) {
                  event.preventDefault();
                  var formData = $(this).serializeArray();
                  var data = {};
                  formData.forEach(function(item) {
                    data[item.name] = item.value;
                  });
                  $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    headers: {
                      'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                      alert(response.message);
                    },
                    error: function(response) {
                      alert('An error occurred');
                    }
                  });
                });

                $(document).ready(function(){
                  $(":input").inputmask();
              });

                // Инициализация Inputmask
                $(":input").inputmask();
              });
              
            

            </script>


            <script>
              $(document).ready(function() {
                  $('#saveButton').click(function() {
                      let formData = $('#editComputerForm').serialize();
                      
                      $.ajax({
                          url: '{% url "edit" computer.id %}',  // URL представления для обработки формы
                          type: 'POST',
                          data: formData,
                          success: function(response) {
                              alert('Data saved successfully!');
                          },
                          error: function(xhr, status, error) {
                              alert('An error occurred: ' + xhr.responseText);
                          }
                      });
                  });
              });
          </script>

           



          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
{% endblock content %}


{% block extra_scripts %}
<!-- jQuery -->
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<!-- dropzonejs -->
<script src="{% static 'plugins/dropzone/min/dropzone.min.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })

    
    //Money Euro
    $('[data-mask]').inputmask()

    //Date picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });

    //Date and time picker
    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    })
  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  })

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector("#template")
  previewNode.id = ""
  var previewTemplate = previewNode.parentNode.innerHTML
  previewNode.parentNode.removeChild(previewNode)

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/target-url", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  })

  myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
  })

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
  })

  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1"
    // And disable the start button
    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
  })

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0"
  })

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
  }
  document.querySelector("#actions .cancel").onclick = function() {
    myDropzone.removeAllFiles(true)
  }
  // DropzoneJS Demo Code End
</script>
{% endblock extra_scripts %}