


<div class="row">               
    <div class="col-sm-4">
      <div class="row-sm-4">
        <div class="form-group track-changes">
          <label for="{{ wizard.form.processor_name.id_for_label }}" class="form-label">
            {{ wizard.form.processor_name.label_tag }}
        </label>                
        <input list="processorList" id="{{ wizard.form.processor_name.id_for_label }}" name="{{ wizard.form.processor_name.html_name }}" class="form-control" placeholder="Processor" style="width: 100%">
        <datalist id="processorList">
            {% for processor in processor_queryset %}
            <option value="{{ processor.name }}">
            {% endfor %}       
        </datalist>

         </div>
      </div>
      <div class="row-sm-4">                    
        <div class="form-group track-changes">
          <label for="{{ wizard.form.lanCard_type.id_for_label }}" class="form-label">
            {{ wizard.form.lanCard_type.label_tag }}
          </label>  
            <input list="lanCardList" id="{{ wizard.form.lanCard_type.id_for_label }}" name="{{ wizard.form.lanCard_type.html_name }}" class="form-control" 
                placeholder="LAN card" 
                style="width: 100%" onkeypress="handleKeyPress(event)">
            <datalist id="lanCardList">
              {% for lanCard in lanCard_queryset %}
                <option value="{{ lanCard.type }}">
              {% endfor %}       
            </datalist>     
        </div>
      </div>                   
    </div>
    

    <div class="col-sm-4">
      <div class="row-sm-4">
        <div class="form-group track-changes">
          <label for="{{ wizard.form.videoCard_name.id_for_label }}" class="form-label">
            {{ wizard.form.videoCard_name.label_tag }}
          </label> 

          <input list="videoCardList" id="{{ wizard.form.videoCard_name.id_for_label }}" name="{{ wizard.form.videoCard_name.html_name }}" class="form-control" placeholder="Video card" style="width: 100%" onkeypress="handleKeyPress(event)">
            <datalist id="videoCardList">
                {% for videoCard in videoCard_queryset %}
                    <option value="{{ videoCard.name }}">
                {% endfor %}       
            </datalist>  
          
      </div>
      
      </div>
      <div class="row-sm-4">
        <div class="form-group track-changes">
          <label for="{{ wizard.form.lanCard_series.id_for_label }}" class="form-label">
            {{ wizard.form.lanCard_series.label_tag }}
          </label> 
         
          <input
                    type="text"
                    class="form-control"
                    placeholder="Enter LAN card series"
                    id="{{ wizard.form.lanCard_series.id_for_label }}"
                    name="{{ wizard.form.lanCard_series.html_name }}"                                    
                >         
          </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group track-changes">
            <label>RAM GB</label>
            <select class="form-control select" id="{{ wizard.form.ram_gigabytes.id_for_label }}" name="{{ wizard.form.ram_gigabytes.html_name }}"  style="width: 100%;">   
                {% for choice, label in ram_gigabytes %}                
                <option value="{{ choice }}" {% if wizard.form.ram_gigabytes.value == choice %}selected{% endif %}>
                    {{ label }}
                </option>   
                {% endfor %}              
            </select> 

            
            
          </div>
        </div>
        <div class="col-sm-9">
          <div class="form-group track-changes">
            <label for="{{ wizard.form.ram_types.id_for_label }}" class="form-label">
              {{ wizard.form.ram_types.label_tag }}
            </label>

            <input list="ramList" id="{{ wizard.form.ram_types.id_for_label }}" name="{{ wizard.form.ram_types.html_name }}" class="form-control" 
            placeholder="RAM type" style="width: 100%">
            <datalist id="ramList">
                {% for choice, label in ram_types %}
                    <option value="{{ choice }}">
                {% endfor %}       
            </datalist>


            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group track-changes">
            <label>Disk GB</label>
            <select class="form-control select" id="{{ wizard.form.hardDisk_gigabytes.id_for_label }}" name="{{ wizard.form.hardDisk_gigabytes.html_name }}" style="width: 100%;">
              {% for choice, label in hardDisk_gigabytes %}
                <option value="{{ choice }}"{% if wizard.form.hardDisk_gigabytes.value == choice %}selected{% endif %}>
                    {{ label }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="form-group track-changes">
            <label for="{{ wizard.form.hardDisk_types.id_for_label }}" class="form-label">
              {{ wizard.form.hardDisk_types.label_tag }}
            </label>

            <input list="hardDiskList" id="{{ wizard.form.hardDisk_types.id_for_label }}" name="{{ wizard.form.hardDisk_types.html_name }}" class="form-control" 
              placeholder="Hard disk type" 
              style="width: 100%" onkeypress="handleKeyPress(event)">
          <datalist id="hardDiskList">
            {% for choice, label in hardDisk_types %}
              <option value="{{ choice }}">
            {% endfor %}       
          </datalist>


            
          </div>
        </div>
      </div>
    </div>
  </div>